__pycache__/
config.json
token.json
strava-webhooks/*
!strava-webhooks/index.js
!strava-webhooks/startWebhookListener.sh
logs/
credentials.json
Tests/testData.json
*.zip
firebaseServiceAccountKey.json
*.ini